In [1]:
!pip install geocoder
import geocoder
print('Done')

Requirement already satisfied: geocoder in /usr/local/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in /usr/local/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the '/usr/local/opt/python/bin/python3.7 -m pip install --upgrade pip' command.
Done

In [16]:
url = 'http://cocl.us/Geospatial_data'

In [17]:
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [19]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [20]:
df.shape

(103, 3)

In [21]:
df_geo.shape

(103, 3)

In [22]:

df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
165,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [23]:
df = df.reset_index()

In [24]:
df.drop(['index'], axis = 'columns', inplace = True)

In [26]:
df = df.set_index('level_0')

KeyError: "None of ['level_0'] are in the columns"

In [27]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [28]:
df = df.rename(index = {'level_0' : 'index'})

In [29]:
df.index.name = 'index'

In [30]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
index,,,,,
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [31]:
df.shape

(103, 5)